{% extends "index.html" %}
{% load staticfiles %}
{% load embed_video_tags %}
{# {% load i18n mptt_tags %} #}
{% load thumbnail %}
{% load content_tags %}

{% block contact %}



<!-- Contact Section-->
    <section id="contact">

    <div class="small-header bg-white"></div>
    
      <div class="container">
      <div class="container">
        <div class="row_products">
          <div class="col-md-5">
            <h3>contact us</h3>
            <p>Feel free to contact us. A business has to be involving, it has to be fun, and it has to exercise your creative instincts. Start where you are. Use what you have. Do what you can.</p>
            <hr>US Headquarters
Pangolin Laser Systems, Inc.
9501 Satellite Boulevard, Suite 109
Orlando, Florida 32837,

            </h5>
            <h5><i class="fa fa-envelope fa-fw fa-lg"></i> contact@pangolin.com
            </h5>
            <h5><i class="fa fa-phone fa-fw fa-lg"></i> USA Phone: +1-407-299-2088
            </h5>
            <h5><i class="fa fa-phone fa-fw fa-lg"></i> Fax +1-407-299-6066
            </h5>
          </div>
          <div class="col-md-5 col-md-offset-2">
            <h3>Say hello</h3>
            <!-- Contact Form - Enter your email address on line 17 of the mail/contact_me.php file to make this form work. For more information on how to do this please visit the Docs!-->
            <form id="contactForm" name="sentMessage" novalidate="">
              <div class="control-group">
                <div class="form-group floating-label-form-group controls">
                  <label for="name" class="sr-only control-label">You Name</label>
                  <input id="name" type="text" placeholder="You Name" required="" data-validation-required-message="Please enter name" class="form-control input-lg"><span class="help-block text-danger"></span>
                </div>
              </div>
              <div class="control-group">
                <div class="form-group floating-label-form-group controls">
                  <label for="email" class="sr-only control-label">You Email</label>
                  <input id="email" type="email" placeholder="You Email" required="" data-validation-required-message="Please enter email" class="form-control input-lg"><span class="help-block text-danger"></span>
                </div>
              </div>
              <div class="control-group">
                <div class="form-group floating-label-form-group controls">
                  <label for="phone" class="sr-only control-label">You Phone</label>
                  <input id="phone" type="tel" placeholder="You Phone" required="" data-validation-required-message="Please enter phone number" class="form-control input-lg"><span class="help-block text-danger"></span>
                </div>
              </div>
              <div class="control-group">
                <div class="form-group floating-label-form-group controls">
                  <label for="message" class="sr-only control-label">Message</label>
                  <textarea id="message" rows="2" placeholder="Message" required="" data-validation-required-message="Please enter a message." aria-invalid="false" class="form-control input-lg"></textarea><span class="help-block text-danger"></span>
                </div>
              </div>
              <div id="success"></div>
              <button type="submit" class="btn btn-dark">Send</button>
            </form>
          </div>
        </div>
      </div>
    </section>
    <!-- Map Section-->
    <div id="map"></div>
    <!-- Action Section-->
    <section class="action section-small bg-gray2">
      <div class="container wow fadeIn">
        <div class="row">
          <div class="col-md-10">
            <h3 class="no-pad"><span class="bold">Pangolin</span>
            </h3>
          </div>
          <div class="col-md-2 text-right"><a href="/contact/" class="btn btn-dark">Contact</a></div>
        </div>
      </div>
    </section>

     {% endblock %}