{% extends "index.html" %}
{% load staticfiles %}
{% load embed_video_tags %}
{# {% load i18n mptt_tags %} #}
{% load thumbnail %}
{# {% load content_tags %} #}

{% block main %}




    <!-- Navigation One Page-->

     {# <div class="small-header bg-gray2"></div> #}




<!-- Intro Slider-->
    <header id="Carousel-intro" data-ride="carousel" class="intro carousel carousel-big slide carousel-fade">
      <!-- Indicators-->
      <ol class="carousel-indicators">
        <li data-target="#Carousel-intro" data-slide-to="0" class="active"></li>
        <li data-target="#Carousel-intro" data-slide-to="1"></li>
        <li data-target="#Carousel-intro" data-slide-to="2"></li>
        <li data-target="#Carousel-intro" data-slide-to="3"></li>
        {# <li data-target="#Carousel-intro" data-slide-to="4"></li> #}
        {# <li data-target="#Carousel-intro" data-slide-to="5"></li> #}
        {# <li data-target="#Carousel-intro" data-slide-to="6"></li> #}
      </ol>

       <div class="carousel-inner">


  {% for slide in slides %}

  {% if slide.ordering == 1 %}

  <div class="item active">
          <div style="background-image:url({{ slide.slug }})" class="fill">
            <div class="intro-body">
              <h2 data-wow-delay=".4s" class="wow fadeInUp">{{ slide.text1|safe }}</h2>
              <h1 class="wow fadeInDown">{{ slide.text2|safe }}</h1>
              <div data-wow-delay="1s" class="scroll-btn hidden-xs wow fadeInDown"><a href="#about" class="page-scroll"><span class="mouse"><span class="weel"><span></span></span></span></a></div>
            </div>
          </div>
        </div>

        {% else %}

  <div class="item">
          <div style="background-image:url({{ slide.slug }})" class="fill">
            <div class="intro-body">
              <h2 data-wow-delay=".4s" class="wow fadeInUp">{{ slide.text1|safe }}</h2>
              <h1 class="wow fadeInDown">{{ slide.text2|safe }}</h1>
              <div data-wow-delay="1s" class="scroll-btn hidden-xs wow fadeInDown"><a href="#about" class="page-scroll"><span class="mouse"><span class="weel"><span></span></span></span></a></div>
            </div>
          </div>
        </div>   
         {% endif %}  

         {% endfor %}

      <!-- Controls--><a href="#Carousel-intro" data-slide="prev" class="left carousel-control"><span class="icon-prev"></span></a><a href="#Carousel-intro" data-slide="next" class="right carousel-control"><span class="icon-next"></span></a>
    </header>
    <!-- Slider-->



    <!-- Why Section-->
    <section>
      <div class="container text-center">
        
        <div class="row">
        {% for product in products_main %}
          <div data-wow-delay=".2s" class="col-lg-3 col-sm-6 wow fadeIn">

          <div class="device_main">

                <h3>{{ product.product_title }}</h3>

                <h4>{{ product.slogan }}</h4>

          
                <a href="/products/product/{{product.product_category.id}}/{{product.id}}/"><img src="{{ product.slug }}" alt="" class="img-responsive center-block"></a>


                 </div>

          </div>
           {% endfor %}
        
        </div>
      </div>
    </section>
   
   
  
    
   {% endblock %}

